<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=0ced6202-d962-4b92-92f9-a2d0010baf3a.sqlserver.sequelizer.com;Database=db0ced6202d9624b9292f9a2d0010baf3a;User ID=vhgsykecrwfvzbfk;Password=6Hpbmnu3paFTmDaz5CzZuKihttvfngLqdGnrhWfL5uC72z2jZU4ALvduygQZYoPi;" />
  </connectionStrings>
</configuration>